<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mainlayout :: main-fragment(~{::#coa-content},
                                                 ~{::#coa-static-resource})}">
<head>

    <th:block id="coa-static-resource">
        <script src="view/bower_components/js/MenuCOA.js"></script>
        <script src="view/bower_components/js/uploadexcel.js"></script>

    </th:block>

</head>
<body>
<div id="coa-content"><h3>COA (Chart Of Account)</h3>
    <div id="formbutton"></div>
<!--    <div id="AddButtonHeader"></div>-->
<!--    <div id="AddButtonDetail"></div>-->
<!--    <div id="EditButtonHeader"></div>-->
<!--    <div id="EditButtonDetail"></div>-->
<!--    <div id="AddByExcel"></div>-->
    <div id="DataCOA"> </div>
    <div id="popup2"></div>
    <div id="popup3"></div>
    <div id="popup4"></div>
    <div id="popup5"></div></div>

</body>

</html>