<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="jsdevextreme/jquery.min.js"></script>

    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="cssdevextreme/dx.light.css">

    <!-- DevExtreme library -->
    <script type="text/javascript" src="jsdevextreme/dx.all.js"></script>
<!--     <script type="text/javascript" src="jsdevextreme/dx.web.js"></script>-->
<!--     <script type="text/javascript" src="jsdevextreme/dx.viz.js"></script>-->

    <title>Sistem Akutansi PAN</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/globalize/1.3.0/globalize.min.js"></script>
    <script src="jsdevextreme/globalize/date.js"></script>
    <link href="view/bower_components/css/dashboard.css" rel="stylesheet" type="text/css">
    <script src="view/bower_components/js/dashboard.js"></script>
    <script src="view/bower_components/js/MenurecapLedger.js"></script>
</head>
<body class="dx-viewport">
<div class="demo-container">
    <div class="container">
        <div class="top-content">
            <div id="navbar"></div>
        </div>
        <div class="left-content">
            <div id="treeview"></div>
        </div>
        <div class="right-content"><div id="wrapper">
        </div>
            <div class="demo-container">

                <div class="row">
                    <h3>Rekap Buku Besar</h3>
                    <table id="DatarecapLedger" class="tableCOA" style="width:100%"></table>
                </div>
                <div id="buttonadd">
                </div>
                <div id="popup"></div>
                <div id="popup2"></div>
            </div></div>
    </div>
</div>
</body>

</html>