<!--<%@page contentType="text/html" pageEncoding="UTF-8"%>-->
<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>-->
<!--<%@ page import="java.sql.*,java.net.*,java.text.*,java.util.*" %>-->
<!--<%@ page import="java.sql.*" %> -->
<!--<%@ page import="java.io.*" %> -->
<!--<%@ include file="proses/conn.jsp" %>-->

<!DOCTYPE html>
<html lang="en">

<head>
<!--    <meta http-equiv="Refresh" content="0; url='https://www.w3docs.com'" />-->

<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->
<!--    <script type="text/javascript" src="jsdevextreme/jquery.min.js"></script>-->

<!--    &lt;!&ndash; DevExtreme theme &ndash;&gt;-->
<!--    <link rel="stylesheet" href="cssdevextreme/dx.light.css">-->

<!--    &lt;!&ndash; DevExtreme library &ndash;&gt;-->
<!--    <script type="text/javascript" src="jsdevextreme/dx.all.js"></script>-->

<!--    <link href="view/bower_components/css/dashboard.css" rel="stylesheet" type="text/css">-->

    <title>Sistem Akutansi PAN</title>
<!--    <script src="jsdevextreme/globalize/date.js"></script>-->



<!--    <script src="view/bower_components/js/dashboard.js"></script>-->
<!--    <script src="view/bower_components/js/currency.js"></script>-->

</head>
<div class="left-content">
    <div id="treeview"></div>
</div>
<!--<body class="dx-viewport">-->
<!--<div class="demo-container">-->
<!--    <div class="container">-->
<!--&lt;!&ndash;        <header class="top-content">&ndash;&gt;-->
<!--&lt;!&ndash;            <div id="navbar"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        </header>&ndash;&gt;-->
<!--        <div class="left-content">-->
<!--            <div id="treeview"></div>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="right-content">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="title-container" style="text-align: center">&ndash;&gt;-->
<!--&lt;!&ndash;                <h2>Selamat Datang di Aplikasi Sistem Akutansi PAN</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Untuk memulai, silahkan untuk memilih menu di samping kiri</p>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <div id="currencybutton"></div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div class="stats">&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="sub-title">Area, km<sup>2</sup></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="stat-value" id="country-area"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="sub-title">Population</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="stat-value" id="country-population"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="sub-title">GDP, billion</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="stat-value" id="country-gdp"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div class="sub-title">Largest cities</div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div id="tabpanel"></div>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->
<!--</body>-->

</html>
